<!-- Focus Section -->
<section id="focus" class="bg-light-gray">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">This is the future</h2>
            <h2 class="section-heading">Your Brain Controls Everything</h2>
            <h2 class="section-heading">&emsp;</h2>
        </div>
    </div>
    <div class="row" >
        <img style="width:100%;" id="image" src="img/header-bg.jpg" alt="">
    </div>
    <div class="container">
         <div class="col-lg-12 text-center">
            <h2 class="section-heading">&emsp;</h2>
            <h3 class="section-heading">Focus 1 is your personal brain efficiency enhancer</h3>
            <h3 class="section-heading">&emsp;</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-3">
                <h4>You Can Trust It</h4>
                <p class="text-muted">It is the only home use headband that is able to collect raw brainwave data, which makes it a medical-grade product and provides potentials in colaborating with medical insititutes.</p>
            </div>
            <div class="col-md-3">
                <h4>Yes, It Works</h4>
                <span class="fa-stack fa-4x">
                    <img class="img-responsive center-block" src="img/cycle.png" alt="">
                    
                </span>
                <p class="text-muted">An integrated training circle is designed and keep tracking your improvement.</p>
            </div>
            <div class="col-md-3">
                <h4>It Is Convenient</h4>
                <p class="text-muted">No couplant is needed and No mess up</p>
                <p class="text-muted">It’s small and portable, find the most comfortable spot and start enjoying</p>
            </div>
            <div class="col-md-3">
                <h4>It Is Enjoyable</h4>
                <p class="text-muted">Hey! Pay Attention! Characters in games need your help! When you are focused, game on; when you are distracted, NOOO!! Game Over.</p>
            </div>
        </div>
        
    </div>
</section>